
//主题颜色
$uni-color-primary: #F25800;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */

//浅灰页面背景
$uni-grey-bg-color: #f0f0f0;
//浅灰字体
$uni-grey-font-color: #c4c4c4;

//价格1的颜色
$price1: #FD4100;
//价格2的颜色
$price2: #FD6400;
//价格3的颜色
$price3: #F7A100;
//加入购物车
$add_cart: #f0b64b;
//立即购买
$buy_now: #e75e58;

/* 文字尺寸 */
$font-sm: 24upx;
$font-base: 28upx;
$font-lg: 32upx;

/*文字颜色*/

$font-color-disabled: #C0C4CC;














/* 页面左右间距 */
$spacing-lg: 30upx;
$spacing-base: 20upx;
$spacing-sm: 10upx;

//消息页面图标颜色
$uni-msgicon-color1: #6096f7;
$uni-msgicon-color2: #ee8a35;
$uni-msgicon-color3: #ec6f60;
$uni-msgicon-color4: #5dbda1;
$uni-msgicon-color5: #787fd0;

$uni-bg-color:#ffffff;


/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直间距 */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:40rpx;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:30rpx;